@import url("https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");

.explore {
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem;
}

.explore-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  padding: 2rem 0;
  margin: 0;
}

.explore__title {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}

.expore__actions {
  display: flex;
  gap: 0.8rem;
}

.explore__search {
  display: flex;
  width: 100%;
  max-width: 200px;
  padding: 0.5rem;
  gap: 0.4rem;
  border-radius: 6px;
  border: 1px solid #1e1e31;
}

.explore__search svg {
  height: 1.2rem;
}

.explore__search input {
  color: var(--gray-200);
  background-color: transparent;
  font-size: 0.8rem;
  border: none;
  outline: none;
}

.explore__search-button,
.explore__add-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.explore__divider {
  border: 0.1px solid var(--gray-400);
  margin: 4px 0;
  padding: 0;
}

.explore__add {
  display: flex;
  max-width: 200px;
  background-color: #892ccd;
  border-radius: 6px;
  border: 1px solid #1e1e31;
}

.explore__add-button {
  height: 100%;
  width: 100%;
  padding: 0.6rem 0.95rem;
  font-size: 0.9rem;
  color: var(--gray-100);
}

.explore__add-button svg {
  height: 0.7rem;
  margin-right: 0.6rem;
  fill: var(--gray-100);
}

.explore__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  color: var(--white);
  padding: 0;
  gap: 0.6rem;
}

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--gray-200);
}

.no-results__icon svg {
  height: 28px;
  margin: 1rem 0;
}

.no-results__message,
.no-results__message-secondary {
  font-size: 0.8rem;
  font-weight: 300;
  margin: 4px;
}

.no-results__value {
  font-weight: 500;
  font-style: italic;
}

.card {
  position: relative;
  width: calc(20% - 0.5rem);
  aspect-ratio: 2 / 3;
  min-height: 16rem;
  list-style: none;
  border-radius: 12px;
  margin-bottom: 0.2rem;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  transition: background 0.3s ease;
}

.card__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.6;
  inset: 0;
  transition: transform 0.4s ease;
}

.card:hover .card__image {
  transform: scale(1.1);
}

.card:hover::before {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.92), rgba(0, 0, 0, 0.4));
}

.card__info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.8rem 1rem;
  z-index: 1;
}

.card__sinopse {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  color: var(--gray-200);
  max-height: 0;
  opacity: 0;
  font-size: 0.6rem;
  margin-top: 0.5rem;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
}

.card:hover .card__sinopse {
  max-height: 2.8rem;
  opacity: 1;
}

.card__rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Winky Rough", sans-serif;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  background-color: #000000a9;
  border-radius: 16px;
  padding: 10px 12px;
  gap: 3px;
  z-index: 1;
}

.card__rating-score {
  font-size: 1rem;
  color: var(--white) !important;
}

.card__rating-scale {
  font-size: 0.6rem;
  color: var(--gray-200);
  align-self: flex-end;
}

.card__rating-score,
.card__rating-scale {
  line-height: 1;
}

.card__rating-star {
  width: 1rem;
  height: 1rem;
  margin-left: 4px;
}

.card__title {
  font-size: 1rem;
  margin: 0;
}

.card__genre {
  color: var(--gray-200);
  font-size: 0.9rem;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .explore {
    padding: 0.5rem 3rem;
  }

  .card {
    width: calc(25% - 0.5rem);
  }

  .explore__card-list {
    gap: 0.6rem;
  }

  .card__title {
    font-size: 0.8rem;
  }

  .card__genre {
    font-size: 0.7rem;
  }
}

@media (max-width: 728px) {
  .explore {
    padding: 0.5rem 2rem;
  }

  .explore__card-list {
    gap: 0.6rem;
  }

  .card {
    width: calc(33.3% - 0.4rem);
  }

  .card__title {
    font-size: 0.7rem;
  }

  .explore__title {
    font-size: 1.4rem;
  }

  .explore__search {
    max-width: 170px;
  }

  .explore__add-button {
    font-size: 0.7rem;
  }

  .card__genre {
    font-size: 0.6rem;
  }
}

@media (max-width: 480px) {
  .explore {
    padding: 0.5rem 1rem;
  }

  .explore-header {
    flex-direction: column;
  }

  .explore__title {
    margin-bottom: 1rem;
  }

  .explore__search {
    font-size: 0.8rem;
    padding: 0.3rem;
    gap: 0.2rem;
  }

  .explore__search svg {
    height: 0.8rem;
  }

  .explore__search input {
    font-size: 0.55rem;
  }

  .explore__add svg {
    height: 0.6rem;
  }

  .explore__add-button {
    font-size: 0.6rem;
  }

  .card {
    width: calc(50% - 0.3rem);
  }
}
