.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--gray-200);
}

.no-results__icon svg {
  height: 28px;
  margin: 1rem 0;
  fill: var(--gray-300);
}

.no-results__message,
.no-results__message-secondary {
  font-size: 0.8rem;
  font-weight: 300;
  margin: 4px;
}

.no-results__value {
  font-weight: 500;
  font-style: italic;
}
