.movie-page__reviews {
	width: 100%;
}

.movie-page__reviews-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 3rem 0;
}

.movie-page__reviews-title {
	font-size: 1.6rem;
	font-weight: 600;
	color: var(--gray-100);
}

.movie-page__reviews-button {
	display: flex;
	align-items: center;
	font-size: 1rem;
	font-weight: 500;
	color: var(--gray-100);
	background-color: var(--purple-dark);
	padding: 0.8rem 1rem;
	gap: 0.4rem;
	border: none;
	border-radius: 8px;
}

.movie-page__reviews-button svg {
	height: 1.2rem;
	fill: var(--gray-100);
}

.movie-page__reviews-list {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1rem;
	padding: 0;
	list-style: none;
}

.movie-page__reviews-item {
	display: flex;
    min-height: 10rem;
	width: 100%;
	background-color: #131320;
	margin: 0;
	padding: 2rem;
	border-radius: 8px;
}

.movie-page__reviews-profile {
    width: 20rem;
}

.movie-page__reviews-user {
    display: flex;
	flex-direction: row;
    gap: 1rem;
}

.movie-page__reviews-avatar {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    background-color: var(--gray-700);
}

.movie-page__reviews-avatar svg {
	height: 1.8rem;
	fill: var(--purple-dark);
}

.movie-page__reviews-userinfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.movie-page__reviews-current-username {
	display: flex;
	gap: 0.8rem;
	align-items: center;
}

.movie-page__reviews-username {
    color: var(--gray-100);
    font-weight: 600;
}

.movie-page__reviews-label-you {
	font-size: 0.8rem;
	color: var(--gray-100);
	background-color: var(--purple-dark);
	padding: 0.1rem 0.3rem;
	border-radius: 16px;
}

.movie-page__reviews-count {
    font-size: 0.85rem;
    color: var(--gray-300);
}

.movie-page__reviews-body {
    display: flex;
	justify-content: space-between;
    width: 100%;
	margin-left: 0.6rem;
	gap: 1rem;
    border-left: 1px solid var(--gray-500);
}

.movie-page__reviews-comment {
	max-height: 8rem;
    color: var(--gray-400);
    padding: 0 2rem;
    margin: 0;
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--purple-dark) #a9a9a907;
}

.movie-page__reviews-rating {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 3rem;
	background-color: var(--gray-500);
	gap: 1rem;
	padding: 1rem;
	border-radius: 8px;
}

.movie-page__reviews-rating-score {
	font-family: "Winky Rough", sans-serif;
	display: flex;
	align-items: end;
	height: 100%; 
	line-height: 0.6;
	font-weight: 500;
}

.movie-page__reviews-rating-value {
	color: var(--gray-100);
	font-size: 1.8rem;
}

.movie-page__reviews-rating-max {
	color: var(--gray-300);
	font-size: 1.2rem;
}

.movie-page__reviews-rating-star svg {
	height: 1.4rem;
	fill: var(--purple-dark);
}

