@import url("https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");

.explore {
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem;
}

.explore-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  padding: 2rem 0;
  margin: 0;
}

.explore__title {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}

.expore__actions {
  display: flex;
  gap: 0.8rem;
}

.explore__search {
  display: flex;
  width: 100%;
  max-width: 200px;
  padding: 0.5rem;
  gap: 0.4rem;
  border-radius: 6px;
  border: 1px solid #1e1e31;
}

.explore__search svg {
  height: 1.2rem;
}

.explore__search input {
  color: var(--gray-200);
  background-color: transparent;
  font-size: 0.8rem;
  border: none;
  outline: none;
}

.explore__search-button,
.explore__add-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.explore__divider {
  border: 0.1px solid var(--gray-400);
  margin: 4px 0;
  padding: 0;
}

.explore__add {
  display: flex;
  max-width: 200px;
  background-color: var(--purple-dark);
  border-radius: 6px;
}

.explore__add-button {
  height: 100%;
  width: 100%;
  padding: 0.6rem 0.95rem;
  font-size: 0.9rem;
  color: var(--gray-100);
}

.explore__add-button svg {
  height: 0.7rem;
  margin-right: 0.6rem;
  fill: var(--gray-100);
}

.explore__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  color: var(--white);
  padding: 0;
  gap: 0.6rem;
}

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--gray-200);
}

.no-results__icon svg {
  height: 28px;
  margin: 1rem 0;
}

.no-results__message,
.no-results__message-secondary {
  font-size: 0.8rem;
  font-weight: 300;
  margin: 4px;
}

.no-results__value {
  font-weight: 500;
  font-style: italic;
}


@media (max-width: 1024px) {
  .explore {
    padding: 0.5rem 3rem;
  }

  .explore__card-list {
    gap: 0.6rem;
  }
}

@media (max-width: 728px) {
  .explore {
    padding: 0.5rem 2rem;
  }

  .explore__card-list {
    gap: 0.6rem;
  }

  .explore__title {
    font-size: 1.4rem;
  }

  .explore__search {
    max-width: 170px;
  }

  .explore__add-button {
    font-size: 0.7rem;
  }
}

@media (max-width: 480px) {
  .explore {
    padding: 0.5rem 1rem;
  }

  .explore-header {
    flex-direction: column;
  }

  .explore__title {
    margin-bottom: 1rem;
  }

  .explore__search {
    font-size: 0.8rem;
    padding: 0.3rem;
    gap: 0.2rem;
  }

  .explore__search svg {
    height: 0.8rem;
  }

  .explore__search input {
    font-size: 0.55rem;
  }

  .explore__add svg {
    height: 0.6rem;
  }

  .explore__add-button {
    font-size: 0.6rem;
  }
}
